#!/bin/bash

chromium-browser --noerrdialogs \
                 --incognito \
                 --kiosk {{ chromium_url }} \
                 --force-device-scale-factor={{ chromium_scale_factor }} \
                 --disable-infobars &

sleep 20

xdotool search "{{ chromium_windowname }}" \
        windowactivate \
        --sync key \
        --clearmodifiers key KP_Enter
